[Desktop Entry]
Hidden=true
Type=Application
Name=Zeplin Scheme Handler
Exec=/usr/local/lib/zpl-open.sh %u
StartupNotify=false
MimeType=x-scheme-handler/zpl;
