[Desktop Entry]
Type=Application
Name=Zeplin Scheme Handler
Exec=/usr/local/lib/zpl-open.sh %u
StartupNotify=false
NoDisplay=true
MimeType=x-scheme-handler/zpl;
